
<nav aria-label="Page navigation example">

  <ul class="pagination">
    {% if current == 1 %}
      <li class="page-item disabled">
    {% else %} 
      <li class="page-item">
    {% endif %}
      <a class="page-link" href="{{ url('index', {'page': current-1 }) }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for i in 0..6 %}
    {% if (i+1) == current %}
      <li class="page-item active"><a class="page-link" href="{{ url('index', {'page': i+1 }) }}">{{ i+1 }}</a></li>
    {% else %}
      <li class="page-item"><a class="page-link" href="{{ url('index', {'page': i+1 }) }}">{{ i+1 }}</a></li>
    {% endif %}
    {% endfor %}
    {% if current == 7 %}
      <li class="page-item disabled">
    {% else %} 
      <li class="page-item">
    {% endif %}
     <a class="page-link" href="{{ url('index', {'page': current+1 }) }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>