<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ object[0].name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">

   <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-md-3">{% trans %}Title {% endtrans %}</dt>
                <dd class="col-md-9">{{ object[0].name }} </dd>
                {% if object[0].first_release_date is defined %}
                
                    <dt class="col-md-3">{% trans %}First Release {% endtrans %}</dt>
                    <dd class="col-md-9">{{ object[0].first_release_date|date("m/d/Y", "Europe/Paris")  }} </dd>
                {% endif %}
                {% if object[0].url is defined %}
                
                    <dt class="col-md-3">{% trans %}Webstite {% endtrans %}</dt>
                    <dd class="col-md-9"><a href="{{ object[0].url }}">{{ object[0].url }}</a> </dd>
                {% endif %}
                 
                {% if object[0].genres is defined %}
                    <dt class="col-md-3">{% trans %}Genres {% endtrans %}</dt>
                    <dd class="col-md-9">
                    {% for genre in object[0].genres %}
                     {{ genre.name }}, 
                    {% endfor %}
                    </dd>
                {% endif %}
                {% if object[0].platforms is defined %}
                    <dt class="col-md-3">{% trans %}Platforms {% endtrans %}</dt>
                    <dd class="col-md-9">
                    {% for plateform in object[0].platforms %}
                     {{ plateform.name }}, 
                    {% endfor %}
                    </dd>
                {% endif %}                           
                {% if  object[0].summary is defined %}
                    <dt class="col-md-3">{% trans %}Summary {% endtrans %}</dt>
                    <dd class="col-md-9">{{ object[0].summary }}</dt>
                {% elseif object[0].storyline is defined %}
                    <dt class="col-md-3">{% trans %}Storyline {% endtrans %}</dt>
                    <dd class="col-md-9">{{ object[0].storyline }}</dt>
                {% endif %}
            </dl>
        </div>
        <!-- carrousel of picture -->
        <div id="myCarousel" class="carousel slide col-md-6 float-left" data-ride="carousel">
            <div class="carousel-inner w-auto">
                {% if object[0].screenshots is defined %}
                    {% for screen in object[0].screenshots|slice(0, 4) %}
                    {% if loop.first %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}
                            <img class="d-block w-auto item" src="http://{{ screen.url|replace({'thumb': 'screenshot_med'}) }}?auto=yes&bg=777&fg=555">
                        </div>
                    {% endfor %}
                    
                {% endif %}    
                {% if object[0].artworks is defined %}
                    {% for art in object[0].artworks|slice(0, 4)  %}
                    {% if loop.first and object[0].screenshots is defined%}
                        <div class="carousel-item">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}                   
                            <img class="d-block w-auto item" src="http://{{ art.url|replace({'thumb': 'screenshot_med'}) }}?auto=yes&bg=777&fg=555">
                        </div>
                    {% endfor %}
                    
                {% endif %}      
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">{% trans %}Previous{% endtrans %}</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">{% trans %}Next{% endtrans %}</span>
            </a>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>